<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1>{{ title }}</h1>

<p>{{ geoapi() }}</p>

<p>{{ content }}</p>

{{ dump(request) }}
{{ dump(query) }}
{{ dump(attributes) }}
{{ dump(accept) }}
{{ dump(headers) }}

</body>
</html>